In [1]:
import pandas as pd
import random
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
pd.options.mode.chained_assignment = None  # default='warn'

In [2]:
doc = pd.read_csv("Document.csv")

In [3]:
dimInfo = pd.read_csv("DimMeasurements.csv")

In [4]:
rows = pd.read_csv("DimRows.csv")

# Data Description

## doc

In [5]:
doc.head(2)

,Id,DateAndTime,documentType,PartName,RevisionNo,SerialNo,StatsCount,ReportNo,OperationNo,ResRevNo,...,Operator,Measurer,Shift,StandNo,MaterialCode,MeasurementPlan,Order,DrawingNo,CreatedDate,UpdatedDate
0,e49ccee3-dc5b-4374-a333-fa819bc44cb7,2021-12-01 17:44:34+03,xls,B 5001,NaN,NaN,NaN,NaN,{},{},...,Master,NaN,NaN,NaN,NaN,911 906 017 5 TP CAP59 --X ---,C 133 T21-49-1-19,911 9060 175,44:03.4,44:03.4
1,f9772ccb-d747-4156-aa85-ac1b9d6e2152,2021-12-01 17:44:34+03,xls,B 5001,NaN,NaN,NaN,NaN,{},{},...,Master,NaN,NaN,NaN,NaN,911 906 017 5 TP CAP59 --X ---,C 133 T21-49-1-19,911 9060 175,54:34.0,54:34.0

In [6]:
doc.Id = pd.Categorical(doc.Id)
doc.DateAndTime = pd.Categorical(doc.DateAndTime)
doc.documentType = pd.Categorical(doc.documentType)
doc.PartName = pd.Categorical(doc.PartName)
doc.Instructions = pd.Categorical(doc.Instructions)
doc.BenchName = pd.Categorical(doc.BenchName)
doc.Confirmation = pd.Categorical(doc.Confirmation)
doc.Operator = pd.Categorical(doc.Operator)
doc.MeasurementPlan = pd.Categorical(doc.MeasurementPlan)
doc.Order = pd.Categorical(doc.Order)
doc.DrawingNo = pd.Categorical(doc.DrawingNo)
doc.CreatedDate = pd.Categorical(doc.CreatedDate)
doc.UpdatedDate = pd.Categorical(doc.UpdatedDate)

In [7]:
##DROP --> RevisionNo-SerialNo-StatsCount-ReportNo-OperationNo-ResRevNo-Cmm-ConfirmingUserId-Measurer-Shift-StandNo-MaterialCode

## dimMeasurement

In [8]:
dimInfo.head(2)

,Id,DocumentId,DimInfo,CreatedDate,UpdatedDate
0,55d91a3d-f663-4a8a-8a2f-90cc327f25aa,e49ccee3-dc5b-4374-a333-fa819bc44cb7,17-Q 90 SALGI PROB GRI,2022-01-18 09:44:03.38012,2022-01-18 09:44:03.38012
1,5e75e754-a29d-49a2-841c-3eb8aa0493a9,e49ccee3-dc5b-4374-a333-fa819bc44cb7,22 ic duzlem SALGI GRI PROB,2022-01-18 09:44:03.38012,2022-01-18 09:44:03.38012

In [9]:
dimInfo.Id = pd.Categorical(dimInfo.Id)
dimInfo.DocumentId = pd.Categorical(dimInfo.DocumentId)
dimInfo.DimInfo = pd.Categorical(dimInfo.DimInfo)
dimInfo.CreatedDate = pd.Categorical(dimInfo.CreatedDate)
dimInfo.UpdatedDate = pd.Categorical(dimInfo.UpdatedDate)

## rows

In [10]:
rows.head(2)

,Id,DimMeasurementId,Axis,Measurement,Nominal,PositiveTolerance,NegativeTolerance,Bonus,Deviation,OutTolerance,...,NatUpperTolId,NatLowerTolId,DecimalPlaces,FeaturePosX,FeaturePosY,FeaturePosZ,Unit,Confirmation,CreatedDate,UpdatedDate
0,153f71ce-1716-4d44-b7e0-b21e614b4594,fb59d7d6-e70c-4e3d-aee7-1946a3bd315f,NaN,0.0608998,0.0,0.050,0.0,NaN,0.060900,0.010900,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2022-01-18 09:44:03.38012,2022-01-18 09:44:03.38012
1,2d27557f-ded9-4933-8282-e7b4c62d000f,55d91a3d-f663-4a8a-8a2f-90cc327f25aa,NaN,0.0151148,0.0,0.015,0.0,NaN,0.015115,0.000115,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2022-01-18 09:44:03.38012,2022-01-18 09:44:03.38012

In [11]:
#dolu olanlar->Id-DimMeasurementId-Measurement-Nominal-PositiveTolerance-NegativeTolerance-Deviation-OutTolerance-OutToleranceBar-Confirmation-CreatedDate-UpdatedDate

### Numerical data

In [12]:
list=[]
for i in range(rows.index.size):
    list.insert(i,(''.join(rows.loc[i].Measurement.split('.')[0:-1])) + '.'+ rows.loc[i].Measurement.split('.')[-1])

In [13]:
rows.Measurement= list.copy()

In [14]:
rows.Confirmation = pd.Categorical(rows.Confirmation)
rows.Measurement = rows.Measurement.astype("float64")

In [15]:
rows.head(2)

,Id,DimMeasurementId,Axis,Measurement,Nominal,PositiveTolerance,NegativeTolerance,Bonus,Deviation,OutTolerance,...,NatUpperTolId,NatLowerTolId,DecimalPlaces,FeaturePosX,FeaturePosY,FeaturePosZ,Unit,Confirmation,CreatedDate,UpdatedDate
0,153f71ce-1716-4d44-b7e0-b21e614b4594,fb59d7d6-e70c-4e3d-aee7-1946a3bd315f,NaN,0.060900,0.0,0.050,0.0,NaN,0.060900,0.010900,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2022-01-18 09:44:03.38012,2022-01-18 09:44:03.38012
1,2d27557f-ded9-4933-8282-e7b4c62d000f,55d91a3d-f663-4a8a-8a2f-90cc327f25aa,NaN,0.015115,0.0,0.015,0.0,NaN,0.015115,0.000115,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2022-01-18 09:44:03.38012,2022-01-18 09:44:03.38012

In [16]:
rows_num = rows.select_dtypes(include=["float64", "int64"])

# Cleaning Unnecessary/Null Columns

## doc Table

In [17]:
temp_doc = doc.copy()

In [18]:
temp_doc.head(3)

,Id,DateAndTime,documentType,PartName,RevisionNo,SerialNo,StatsCount,ReportNo,OperationNo,ResRevNo,...,Operator,Measurer,Shift,StandNo,MaterialCode,MeasurementPlan,Order,DrawingNo,CreatedDate,UpdatedDate
0,e49ccee3-dc5b-4374-a333-fa819bc44cb7,2021-12-01 17:44:34+03,xls,B 5001,NaN,NaN,NaN,NaN,{},{},...,Master,NaN,NaN,NaN,NaN,911 906 017 5 TP CAP59 --X ---,C 133 T21-49-1-19,911 9060 175,44:03.4,44:03.4
1,f9772ccb-d747-4156-aa85-ac1b9d6e2152,2021-12-01 17:44:34+03,xls,B 5001,NaN,NaN,NaN,NaN,{},{},...,Master,NaN,NaN,NaN,NaN,911 906 017 5 TP CAP59 --X ---,C 133 T21-49-1-19,911 9060 175,54:34.0,54:34.0
2,5fbb77fa-834d-4e2c-a8c3-14f697eb0500,2022-01-03 19:38:58+03,xls,B 5002,NaN,NaN,NaN,NaN,{},{},...,Master,NaN,NaN,NaN,NaN,UZUN KISITLANMIS 4123520165---2,C 57 T22-2-3-10,412 3520 165,59:18.4,59:18.4

In [19]:
##DROP --> RevisionNo-SerialNo-StatsCount-ReportNo-OperationNo-ResRevNo-Cmm-ConfirmingUserId-Measurer-Shift-StandNo-MaterialCode

In [20]:
#drop null columns
temp_doc = temp_doc.drop(columns=['RevisionNo','SerialNo','StatsCount','ReportNo','OperationNo','ResRevNo','Cmm','ConfirmingUserId','Measurer','Shift','StandNo','MaterialCode'],axis=1)

In [21]:
#drop not unique columns
temp_doc = temp_doc.drop(columns=['documentType','Instructions','BenchName','Operator'],axis=1)

In [22]:
#drop dublicated columns
temp_doc = temp_doc.drop(columns=['UpdatedDate','CreatedDate'],axis=1)

In [23]:
temp_doc.rename(columns={'Id':'DocumentId'
                ,'Confirmation': 'DocumentConfirmation'},inplace=True)

In [24]:
temp_doc.head(2)

,DocumentId,DateAndTime,PartName,DocumentConfirmation,MeasurementPlan,Order,DrawingNo
0,e49ccee3-dc5b-4374-a333-fa819bc44cb7,2021-12-01 17:44:34+03,B 5001,2,911 906 017 5 TP CAP59 --X ---,C 133 T21-49-1-19,911 9060 175
1,f9772ccb-d747-4156-aa85-ac1b9d6e2152,2021-12-01 17:44:34+03,B 5001,2,911 906 017 5 TP CAP59 --X ---,C 133 T21-49-1-19,911 9060 175

## dimMeasurement Table

In [25]:
temp_dim = dimInfo.copy()

In [26]:
temp_dim.head(2)

,Id,DocumentId,DimInfo,CreatedDate,UpdatedDate
0,55d91a3d-f663-4a8a-8a2f-90cc327f25aa,e49ccee3-dc5b-4374-a333-fa819bc44cb7,17-Q 90 SALGI PROB GRI,2022-01-18 09:44:03.38012,2022-01-18 09:44:03.38012
1,5e75e754-a29d-49a2-841c-3eb8aa0493a9,e49ccee3-dc5b-4374-a333-fa819bc44cb7,22 ic duzlem SALGI GRI PROB,2022-01-18 09:44:03.38012,2022-01-18 09:44:03.38012

In [27]:
#drop dublicated columns
temp_dim = temp_dim.drop(columns=['UpdatedDate','CreatedDate'],axis=1)

In [28]:
temp_dim.rename(columns={'Id':'DimId'
                ,'DocumentId': 'Document_Id'},inplace=True)

In [29]:
temp_dim.head(2)

,DimId,Document_Id,DimInfo
0,55d91a3d-f663-4a8a-8a2f-90cc327f25aa,e49ccee3-dc5b-4374-a333-fa819bc44cb7,17-Q 90 SALGI PROB GRI
1,5e75e754-a29d-49a2-841c-3eb8aa0493a9,e49ccee3-dc5b-4374-a333-fa819bc44cb7,22 ic duzlem SALGI GRI PROB

## rows Table

In [30]:
temp_row = rows.copy()

In [31]:
temp_row.head(2)

,Id,DimMeasurementId,Axis,Measurement,Nominal,PositiveTolerance,NegativeTolerance,Bonus,Deviation,OutTolerance,...,NatUpperTolId,NatLowerTolId,DecimalPlaces,FeaturePosX,FeaturePosY,FeaturePosZ,Unit,Confirmation,CreatedDate,UpdatedDate
0,153f71ce-1716-4d44-b7e0-b21e614b4594,fb59d7d6-e70c-4e3d-aee7-1946a3bd315f,NaN,0.060900,0.0,0.050,0.0,NaN,0.060900,0.010900,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2022-01-18 09:44:03.38012,2022-01-18 09:44:03.38012
1,2d27557f-ded9-4933-8282-e7b4c62d000f,55d91a3d-f663-4a8a-8a2f-90cc327f25aa,NaN,0.015115,0.0,0.015,0.0,NaN,0.015115,0.000115,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2022-01-18 09:44:03.38012,2022-01-18 09:44:03.38012

In [32]:
#dolu olanlar->Id-DimMeasurementId-Measurement-Nominal-PositiveTolerance-NegativeTolerance-Deviation-OutTolerance-OutToleranceBar-Confirmation-CreatedDate-UpdatedDate

In [33]:
#drop null columns
temp_row =temp_row.dropna(how='all',axis=1)

In [34]:
temp_row.head(2)

,Id,DimMeasurementId,Measurement,Nominal,PositiveTolerance,NegativeTolerance,Deviation,OutTolerance,OutToleranceBar,Confirmation,CreatedDate,UpdatedDate
0,153f71ce-1716-4d44-b7e0-b21e614b4594,fb59d7d6-e70c-4e3d-aee7-1946a3bd315f,0.060900,0.0,0.050,0.0,0.060900,0.010900,---->,2,2022-01-18 09:44:03.38012,2022-01-18 09:44:03.38012
1,2d27557f-ded9-4933-8282-e7b4c62d000f,55d91a3d-f663-4a8a-8a2f-90cc327f25aa,0.015115,0.0,0.015,0.0,0.015115,0.000115,---->,1,2022-01-18 09:44:03.38012,2022-01-18 09:44:03.38012

In [35]:
#drop unnecessary columns
temp_row =temp_row.drop(columns=['OutToleranceBar','CreatedDate','UpdatedDate'],axis=1)

In [36]:
temp_row.rename(columns={'Id':'RowId'
                ,'Confirmation': 'RowConfirmation'},inplace=True)

In [37]:
temp_row.head(2)

,RowId,DimMeasurementId,Measurement,Nominal,PositiveTolerance,NegativeTolerance,Deviation,OutTolerance,RowConfirmation
0,153f71ce-1716-4d44-b7e0-b21e614b4594,fb59d7d6-e70c-4e3d-aee7-1946a3bd315f,0.060900,0.0,0.050,0.0,0.060900,0.010900,2
1,2d27557f-ded9-4933-8282-e7b4c62d000f,55d91a3d-f663-4a8a-8a2f-90cc327f25aa,0.015115,0.0,0.015,0.0,0.015115,0.000115,1

# Merge Tables

In [38]:
merged_df = pd.merge(left=temp_doc, right=temp_dim, left_on='DocumentId', right_on='Document_Id')

In [39]:
merged_df = pd.merge(left=merged_df, right=temp_row, left_on='DimId', right_on='DimMeasurementId')

In [40]:
merged_df.head(1)

,DocumentId,DateAndTime,PartName,DocumentConfirmation,MeasurementPlan,Order,DrawingNo,DimId,Document_Id,DimInfo,RowId,DimMeasurementId,Measurement,Nominal,PositiveTolerance,NegativeTolerance,Deviation,OutTolerance,RowConfirmation
0,e49ccee3-dc5b-4374-a333-fa819bc44cb7,2021-12-01 17:44:34+03,B 5001,2,911 906 017 5 TP CAP59 --X ---,C 133 T21-49-1-19,911 9060 175,55d91a3d-f663-4a8a-8a2f-90cc327f25aa,e49ccee3-dc5b-4374-a333-fa819bc44cb7,17-Q 90 SALGI PROB GRI,2d27557f-ded9-4933-8282-e7b4c62d000f,55d91a3d-f663-4a8a-8a2f-90cc327f25aa,0.015115,0.0,0.015,0.0,0.015115,0.000115,1

In [41]:
merged_df.drop(columns=['Document_Id','DimMeasurementId'],inplace=True)

In [42]:
merged_df.head(1)

,DocumentId,DateAndTime,PartName,DocumentConfirmation,MeasurementPlan,Order,DrawingNo,DimId,DimInfo,RowId,Measurement,Nominal,PositiveTolerance,NegativeTolerance,Deviation,OutTolerance,RowConfirmation
0,e49ccee3-dc5b-4374-a333-fa819bc44cb7,2021-12-01 17:44:34+03,B 5001,2,911 906 017 5 TP CAP59 --X ---,C 133 T21-49-1-19,911 9060 175,55d91a3d-f663-4a8a-8a2f-90cc327f25aa,17-Q 90 SALGI PROB GRI,2d27557f-ded9-4933-8282-e7b4c62d000f,0.015115,0.0,0.015,0.0,0.015115,0.000115,1

In [43]:
merged_df.to_csv('Merged.csv')